
<script src="~/Scripts/SiteRender.js"> </script>
<script type="text/javascript">
    $(document).ready(function() { RoleIndexPage();});
</script>

<div class="row">
    <div id="divForm">
        <h1>Roles</h1>
        <div id="divMain">
            <table id="jqGrid" dir="rtl"></table>
            <div id="jqGridPager"></div>
        </div>
    </div>
</div>